body {
  margin: 0px;
  overflow: scroll;
}

div.clientArea {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 25px 0px 25px;
  background-color: none;
}

.pageHeader {
  width: inherit;
  padding: 0px;
  margin: 0px;
  height: 110px;
  background-color: none;
}

#logoBar {
  width: inherit;
  clear: both;
}

#tomtomLogo {
  position: relative;
  float: left;
  clear: right;
  top: 12px;
  left: 0px;
}

.hiddenIFrame, #formTemplate {
  position: absolute;
  left: -200px;
  visibility: hidden;
  width: 0px;
  height: 0px;
  border: 0px;
  margin: 0px;
}

.titleBar {
  font-family: Arial, Helvetica, sans-serif; 
  width: inherit;
  clear: both;
}

#hairline {
  position: relative;
  height: 1px;
  margin: 0px;
  clear: both;
  width: 759px;
  background-color: #E5E5E5;
  top: 72px;
}

#pcmiLogo {
  position: absolute;
  right: 80px;
  top: 40px;
}

.titleBarContainer {
  width: 759px;
}

#pcmiTitle {
  color: #7BB900;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  position: relative;
  clear: none;
  float: left;
  top: 40px;
  background-color: none;
  padding-top: 4px;
}

#freeSpace {
  position: relative;
  line-height: 24px;
  top: 40px;
  float: right;
}

#freeSpaceLabel {
  float: left;
  color: #747474;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

#freeSpaceContent {
  float: left;
  color: #747474;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  padding-left: 5px;
}

#uploadPOIArea, 
#uploadVoicesArea, 
#uploadColoursArea,
#uploadImagesArea,
#uploadVehiclesArea,
#uploadWarningsArea {
  position: relative;
  height: 0px;
  overflow: hidden;
  width: inherit;
  clear: both;
  margin-top: 10px;
}

#help {
  padding-top: 12px;
  float: right;
}

#help a {
  text-decoration: none;
}

#helpLabel {
  float: right;
  color: #818181;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding-left: 5px;
  margin-top: 3px;
}

#helpImage {
  float: right;
  border: 0px;
}

.uploadAreaTitle {
  color: #00549F;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 0px 0px 13px;
}

.uploadAreaTitle h2 {
  color: #00549F;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-top: 0px;
  padding: 15px 0px 0px 13px;
}

#poiToolBar, 
#voiceToolBar, 
#colourToolBar, 
#imageToolBar,
#vehicleToolBar,
#warningToolBar {
  /*width: 727px;*/
  margin: 0px;
  height: 55px;
  padding-top: 10px;
}

input {
  position: absolute;
  outline: 0px;
  font-size: 30px;
  right: -70px;
  top: -2px;
  background-color: #DDDDDD;
  z-index: 2;
  opacity: 0.0;
  filter: alpha(opacity=0.0);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0.0)";
}

div.inputField {
  position: relative;
  float: right;
  min-width: 595px;
  overflow: hidden;
}

div.inputMid span {
  position: relative;
  top: 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

img.inputLeft {
  float: left;
}

div.inputMid {
  float: left;
  width: 480px;
  height: 40px;
  background: url('img/input_middle.png') repeat-x top;
}

img.inputRight {
  float: left;
  padding-right: 3px;
}

div.hidden {
  visibility: hidden;
}

#addMorePOIButton, 
#addMoreVoicesButton, 
#addMoreColoursButton,
#addMoreImagesButton,
#addMoreVehiclesButton,
#addMoreWarningsButton {
  position: relative;
  margin: 0px;
  padding-left: 5px;
  float: left;
  cursor: pointer;
  height: 40px;
}

div.uploadToolBarButton {
  position: relative;
  float: right;
  padding-left: 10px;
  cursor: pointer;
  height: 40px;
}

div.textField {
  float: right;
}

div.uploadToolBarButtonInActive {
  position: relative;
  padding-left: 10px;
  padding-right: 14px;
  float: right;
  cursor: default;
  height: 40px;
  overflow: hidden;
}

div.uploadToolBarButtonActive {
  position: relative;
  padding-left: 10px;
  padding-right: 14px;
  float: right;
  cursor: pointer;
  height: 40px;
  overflow: hidden;
}

#poiUploadButton, 
#voiceUploadButton,
#colourUploadButton,
#imageUploadButton,
#vehicleUploadButton,
#warningUploadButton {
  position: absolute;
  top: -20px;
  left: -5px;
  width: 100px;
  height: 100px;
  z-index: 2;
}

.sectionHeader {
  height: 40px;
}

.sectionHeader h2 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding-top: 10px;
}

div.sectionSeparator {
  clear: both;
  height: 70px;
}

div.listArea {
  width: inherit;
  clear: both;
  margin: 0px;
}

div.button {
  cursor: pointer;
  padding-right: 8px;
}

div.listArea table {
  border-collapse: collapse;
}

div.listArea tr.oddRow {
  height: 35px;
  background-color: #EFEFEF;
  border-top: 1px solid #E5E5E5;
}

div.listArea tr.evenRow {
  height: 35px;
  background-color: #FFFFFF;
  border-top: 1px solid #E5E5E5;
}

div.listArea tr.emptyRow {
  height: 1px;
  background-color: #FFFFFF;
  border-top: 1px solid #E5E5E5;
}

div.listArea td.noContent {
  padding-left: 0px;
  padding-bottom: 10px;
  color: #747474;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

div.uploadAreaLeft {
  float: left;
  background-image: url('img/searchbar_left.png');
  height: 110px;
  width: 5px;
}

div.uploadAreaMiddle {
  float: left;
  background: url('img/searchbar_mid.png') repeat-x top;
  height: 110px;
  width: 749px;
}

div.uploadAreaRight {
  float: left;
  background-image: url('img/searchbar_right.png');
  height: 110px;
  width: 5px;
}

td.filenameField {
  color: #747474;
  padding-left: 7px;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 14px;
  width: 237px;
}

td.narrowFilenameField {
  color: #747474;
  padding-left: 7px;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 14px;
  width: 202px;
}

td.sizeField {
  color: #747474;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 12px;
  text-align: right;
  width: 147px;
}

img.thumbnail
{
  color: #747474;
  width: 35px;
}

td.tabbing {
  width: 8px;
}

td.buttonField {
  margin: 0px;
  width: 320px;
}

span.buttonLabel {
  color: #444444;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 11px;
  font-weight: bold;
}

img.buttonLeft {
  float: left;
}

div.buttonMiddle {
  height: 30px;
  float: left;
  padding-top: 4px;
  vertical-align: middle;
  background: url('img/action_button_middle.png') repeat-x top;
}

img.buttonRight {
  float: left;
}

img.expandButton {
  float: left;
}

div.browseButtonMid {
  float: left;
  height: 40px;
  min-width: 75px;
  text-align: center;
  background: url('img/button_middle.png') repeat-x top;
}

span.ButtonLabelBrowse, 
span.ButtonLabelUpload {
  position: relative;
  top: 6px;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 13px;
  font-weight: bold;
}

span.ButtonLabelPlusMinus {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #FFFFFF;
}

#ButtonLabelAddPOI,
#ButtonLabelAddColour,
#ButtonLabelAddVehicle,
#ButtonLabelAddImage,
#ButtonLabelAddWarning,
#ButtonLabelAddVoice  {
  height: 80px;
  padding-top: 10px;
  padding-left: 8px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #00AEEF;
}

div.uploadToolBarButtonInActive div.uploadButtonMid {
  float: left;
  height: 40px;
  min-width: 75px;
  text-align: center;
  background: url('img/button_middle_inactive.png') repeat-x top;
}

div.uploadToolBarButtonActive div.uploadButtonMid {
  float: left;
  height: 40px;
  min-width: 75px;
  text-align: center;
  background: url('img/button_middle.png') repeat-x top;
}

div.uploadToolBarButtonInActive div.uploadButtonLeft {
  float: left;
  height: 40px;
  width: 8px;
  background: url('img/button_left_inactive.png') repeat-x top;
}

div.uploadToolBarButtonInActive div.uploadButtonRight {
  float: left;
  height: 40px;
  width: 8px;
  background: url('img/button_right_inactive.png') repeat-x top;
}

div.uploadToolBarButtonActive div.uploadButtonLeft {
  float: left;
  height: 40px;
  width: 8px;
  background: url('img/button_left.png') repeat-x top;
}

div.uploadToolBarButtonActive div.uploadButtonRight {
  float: left;
  height: 40px;
  width: 8px;
  background: url('img/button_right.png') repeat-x top;
}

#progressScreen {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  visibility: hidden;
  z-index: 3;
  opacity: 0.5;
  filter: alpha(opacity=0.5);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
}

#progressInfo {
  position: fixed;
  width: 340px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-left: -170px;
  margin-top: -100px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid #444444;
  visibility: hidden;
  z-index: 5;
}

#updatingString, #waitingString {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #444444;
}
